.MainSection {
	width: 100%;
	margin-top: 2.5px;
}
.MainSection__MainContainer {
	width: 100%;
	overflow: hidden;
}

.MainContainer__slider {
	display: inline-flex;
	transform: translateX(0px);
	transition: transform 0.3s ease-out;
}

.MainContainer__slides {
	user-select: none;
}
